.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: var(--text-primary);
}

.input {
  margin-top: 5px;

  border-radius: 5px;
  outline: transparent;
  border: 2px solid var(--filter-input-border);
  padding: 5px;
  width: 170px;
  color: var(--text-primary);
}

.input:focus {
  border: 2px solid var(--link-active);
}
