.header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: auto;
      z-index: 10;
      background-color: whitesmoke;
      border-bottom: 2px solid darkblue;
      color: darkblue;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.nav {
  display: flex;
  justify-content: space-around;

  align-items: center;

      color: darkblue;
        margin: 0 auto;
        font-size: 24px;
        padding: 10px 0;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(78, 70, 70);
  padding: 10px;
  font-weight: 600;
  outline: transparent;
}

.activeLink {
    font-size: 24px;
      text-decoration: none;
    
      padding: 10px;
      font-weight: 700;
      color: wheat;
      transition: all 1s ease-out;
}
.wrapper {
  display: flex;
  align-items: center;
}
