.btn {
  background-color: transparent;
  outline: transparent;
  padding: 15px 15px;
  border-radius: 10px;
  border: 3px solid var(--bcg-primary);
  cursor: pointer;
  font-size: 20px;
  width: 200px;
  color: var(--text-primary);
}

.btn:active {
  background-color: var(--bcg-primary);
  color: var(--btn-active-color);
}
.btn:focus,
.btn:hover {
  transition: all 1s ease-out;
  border: 3px solid var(--btn-hover);
}
