.btn {
  background-color: transparent;
  outline: transparent;
  padding: 15px 15px;
  border-radius: 10px;
  border: 3px solid whitesmoke;
  cursor: pointer;
  font-size: 20px;
  width: 200px;
}

.btn:active {
  background-color: whitesmoke;
  color: olive;
}
.btn:focus,
.btn:hover {
  transition: all 1s ease-out;
  border: 3px solid hotpink;
}
